body {
	font-family: 'Work Sans', sans-serif;
	background-color: white;
	color: #0d0f20;
}

h1,
h2,
h3,
h4 {
	font-family: 'Inter', sans-serif;
	margin-top: 2rem;
	margin-bottom: 1.4rem;
}

h1 {
	font-size: 2rem;
	grid-column: 1/-1;
	justify-self: center;
	font-weight: 600;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}
p {
	margin-bottom: 1.6rem;
	line-height: 1.4;
}
a {
	color: #4c44a0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 700px;
	margin: 0 auto;
	grid-row: 80vh;
	gap: 25px;
	padding: 0 2rem;
}

.container > section {
	background-color: #e8e8e8;
	border-radius: 5px;
	padding: 1rem 2rem;
}

.filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 0;
}

.order {
	display: grid;
	grid-template-rows: auto auto 1fr;
}

.total-list {
	align-self: end;
	justify-self: end;
}

.confirm {
	grid-column: 2 / -1;
	justify-self: right;
	padding: 1rem 1.3rem;
	border: none;
	background-color: black;
	color: white;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

.confirm:hover {
	background-color: rgba(0, 0, 0, 80%);
}

/* ****** MODALS ***** */

.modal-outer {
	display: grid;
	place-items: center center;
	background-color: hsla(0, 0%, 0%, 0.7);

	/* modal specific */
	pointer-events: none;
	opacity: 0;
	position: fixed;

	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.modal-outer.open {
	opacity: 1;
	pointer-events: all;
}

.modal-inner {
	background-color: white;
	border-radius: 10px;
	width: 230px;
	padding: 0.3rem 1.3rem 1.3rem;
	display: grid;
}

.modal-inner button {
	background: black;
	color: white;
	justify-self: right;
	padding: 0.8rem 1.3rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}
